<%- include('./partials/header') %>
<div class="h-screen w-full">
  <div
    class="relative fixed bg-white w-full h-[13%] flex items-center border-b-2 border-black"
  >
    <div class="flex absolute right-[7%] gap-4 end">
      <a href="/shop" class="hover:text-red-400">Shop</a>
      <a href="/cart" class="hover:text-red-400">Cart</a>
      <a href="/owners/admin" class="hover:text-red-400">Admin</a>
      <a href="/users/logout" class="hover:text-red-400 text-red-700"
        >Logout
      </a>
    </div>
  </div>

  <div class="w-full md:h-[87%] h-full md:flex-row flex-col flex">
    <div
      class="md:w-[75%] w-full items-start px-20 pt-4 md:overflow-y-auto gap-10"
    >
      <% user.cart.forEach(function(cart,index){ %>
      <div class="flex gap-[4vw] mb-[4vw] border-2 rounded-lg">
        <div class="md:w-[30%] w-full rounded-md overflow-hidden">
          <div
            class="w-full h-80 bg-[<%= cart.bgcolor %>] flex justify-center items-center"
          >
            <img
              src="data:image/jpeg;base64,<%= user.cart[index].image.toString('base64') %>"
              alt=""
              class="h-full w-[69%] object-contain"
            />
          </div>
          <div
            class="flex items-center justify-between px-5 py-4 bg-[<%= cart.panelcolor %>]"
          >
            <h3 class="text-2xl"><%= cart.name %></h3>
            <form action="/cart/delete" method="POST">
              <input type="hidden" name="productId" value="<%= cart._id %>">
              <input type="hidden" name="userId" value="<%= user._id %>">
              <button type="submit" class="text-red-500 hover:text-red-700">Delete</button>
            </form>

            
          </div>
          <div
            class="flex items-center justify-between px-5 py-3 bg-[<%= cart.textcolor %>]"
          >
            <h4 class="text-lg">Net Total</h4>
            <h2 class="text-lg">
              ₹ <%=(cart.price + 20)+ (cart.discount/100)*(cart.price) %>
            </h2>
          </div>
        </div>
        <div class="w-[70%] md:block hidden pt-[40]">
          <div class="mt-[6%]">
            <h3 class="text-2xl">Price Breakdown</h3>
            <div class="px-10 mt-5">
              <div class="flex mt-2">
                <h4 class="w-1/3">Total MRP</h4>
                <h4>₹ <%= cart.price %></h4>
              </div>
              <div class="flex mt-2">
                <h4 class="w-1/3">Discount on MRP</h4>
                <h4>₹ <%= (cart.discount/100)*(cart.price) %></h4>
              </div>
              <div class="flex mt-2">
                <h4 class="w-1/3">Platform Fee</h4>
                <h4>₹ 20</h4>
              </div>
              <div class="flex mt-2">
                <h4 class="w-1/3">Shipping Fee</h4>
                <h4>FREE</h4>
              </div>
            </div>
            <div class="w-full h-[1px] bg-black mt-10"></div>
            <div class="flex mt-5">
              <h3 class="w-1/3 text-xl">Total Amount</h3>
              <h3 class="font-semibold text-xl text-green-600">
                ₹ <%=(cart.price + 20)+ (cart.discount/100)*(cart.price) %>
              </h3>
            </div>
            
          </div>
        </div>
      </div>

      <%})%>
    </div>

    <div
      class="md:w-[25%] w-full border-l-2 flex flex-col border-gray-800 items-center"
    >
      <div class="bg-gray-300 md:h-[50%] h-[100%] rounded-md w-[90%] mx-3 mt-3">
        <h1
          class="font-bold text-[1.6vw] px-2 py-2 h-[20%] bg-gray-400 items-center flex justify-center"
        >
          SUBTOTAL ( <%= productNo%> items )
        </h1>
        <div class="w-full px-[7%] pt-[1.1vw] font-semibold h-[10%]">
          <h2>ORDER SUMMARY :</h2>
          <hr class="border-black" />
        </div>

        <div class="w-full md:pt-[1.1vh] pt-[1.3vh] h-[55%]">
          <div
            class="w-full flex 0 justify justify-between md:pt-[4%] pt-[2%] px-[7%] text-[1.2vw]"
          >
            <h2>Total MRP :</h2>
            <h2>₹ <%= totalPrice%></h2>
          </div>

          <div
            class="w-full flex justify justify-between md:pt-[4%] pt-[2%] px-[7%] text-[1.2vw]"
          >
            <h2>Total Discount :</h2>
            <h2 class="text-red-500">₹ <%= parseFloat(totalDiscount).toFixed(2) %></h2>
          </div>

          <div
            class="w-full flex justify justify-between md:pt-[4%] pt-[2%] px-[7%] text-[1.2vw]"
          >
            <h2>Delivery Charges :</h2>
            <h2>₹ 0</h2>
          </div>

          <div
            class="w-full flex justify justify-between md:pt-[4%] pt-[2%] px-[7%] text-[1.2vw]"
          >
            <h2>Platform Charges :</h2>
            <h2>₹ 20</h2>
          </div>
        </div>
        <!-- <hr class="border-1 border-black" /> -->

        <div
          class="w-full flex justify justify-between md:pt-[4%] pt-[2%] px-[7%] text-[1.2vw] border-t-2 border-black"
        >
          <h2>Total Price:</h2>
          <h2 class="text-green-700 font-semibold">
            ₹ <%= totalPrice + totalDiscount%>
          </h2>
        </div>
      </div>

      <a
        href="/gateway/payment/<%= totalPrice + totalDiscount%>"
        class="md:h-[5%] h-[17%] rounded-full w-[90%] mx-3 my-[2%] bg-blue-500 text-white text-center md:pt-[2%] pt-[1.4%]"
      >
        Proceed To Buy</a
      >
    </div>
  </div>
</div>

<%- include('./partials/footer') %>
